.change {
    width: 15%;
    min-width: 217px;
    min-height: 70px;
    padding: 10px 5px;
    box-sizing: border-box;
    margin: 30px 10px;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    background-color: #5cb85c;
    color: #fff;
}
.change:active,
.change:disabled,
.activeA {
    filter: grayscale(80%);
    cursor: not-allowed;
}

