.formField {
    width: 70%;
    align-content: center;
}

.checkbox {
    margin-bottom: 16px;
    align-content: center;
  }

.error {
    color: red;
    font-size: 15px;
    width: 75%;
    margin: 15px auto auto auto;
}

#passwordChangeFormButtons {
    margin-top: 15px;
}

.formPaper {
    width: 570px;
    margin: 30px auto;
    padding: 10px 15px 40px 15px;
}
form {
    margin: 40px auto;
}
