.UserCard {
    width: 50%;
    /*margin-left: 260px;*/
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 20px;
    box-shadow: 0 2px 3px #ccc;
    box-sizing: border-box;
    float: none;
}

.UserCard div, .UserCard > p  {
    margin-bottom: 10px;
}
