.UserButtons {
    height: 100%;
    min-height: 800px;
    width: 100%;
    min-width: 200px;
    margin-bottom: 10px;
    position: relative;
    box-sizing: border-box;
    z-index: 1;
    top: -15px;
    background-color: #F8F8F8;
    overflow-x: auto;
    padding-top: 30px;
}

.UserButtons .NavLink {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 24px;
    display: block;
    text-align: left;
}
.active, .active:hover, .adminButtons *:hover {
    background-color: white;
    border-radius: 5px;
}

@media screen and (max-height: 450px) {
    .UserButtons {padding-top: 15px;}
    .UserButtons a {font-size: 18px;}
}

