.Home .lander {
    padding: 80px 0;
    text-align: center;
    font-family: "PT Sans", sans-serif;
  }
  .Home .lander {
    margin: 0 auto;
    max-width: 320px;
    min-width: 480px
  }

  .button {
    margin-bottom: 20px;
  }

  .homepage {
    padding-top: 60px;
  }

